.popup__title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;

  color: #000000;
  padding: 0;
  width: calc(238 / 282 * 100%);
  margin: 25px auto 36px;
}

@media screen and (min-width: 768px) {
  .popup__title {
    font-size: 24px;
    line-height: 29px;
    margin: 34px auto 50px;
  }
}
