.element__trash-button {
  /* display: none; */

  background-image: url(../../../images/svg/button-Trash.svg);
  width: 18px;
  height: 19.3px;
  cursor: pointer;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  top: 18px;
  right: 15px;
}

.element__trash-button:hover {
  opacity: 0.6;
}
