.profile__title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 32.68px;

  max-width: 189px;
  padding: 0;
  margin: 0 auto 9px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .profile__title {
    font-size: 42px;
    line-height: 48px;
    max-width: 294px;
    margin: 22px 0 2px;
    text-align: start;
  }
}
