.auth__input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #cccccc;

  margin: 0 0 30px;
  padding: 0;
  min-height: 27px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #cccccc;
}

.auth__input:last-of-type {
  margin: 0 0 215px;
}
