* {
  /* border: 1px red solid; */
}

.page {
  width: 100%;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 36px;
  color: #fff;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 768px) {
  .page {
    padding-top: 45px;
    padding-bottom: 60px;
  }
}
